

   <!-- Header -->
   <header id="header" class="shadow bg-light">
    <nav class="container-custom navbar">
        <a href="/posts" class="nav-brand">
             Muthahir Tech
         </a>

         <!-- toggle button -->
         <button class="toggle-button-custom">
             <span><i class="fas fa-bars"></i></span>
         </button>

         <!-- collapse-custom on toggle button click -->
         <div class="collapse-custom">
             <ul class="navbar-nav-custom">
                 <a href="/posts" class="nav-link-custom">Home</a>
                 
                 <a href="/posts/new" class="nav-link-custom">New Post</a>
                
                 <a href="#" class="nav-link-custom">About</a>
                 <a href="#" class="nav-link-custom">Contact</a>
             </ul>
         </div>

           <!-- collapse-custom on toggle button click -->
           <div class="collapse-custom">
               <ul class="navbar-nav-custom">
                     <div class="search-box">
                         <a href="#" class="nav-link-custom"><i class="fas fa-search"></i></a>
                     </div>
                     <a href="#" class="nav-link-custom"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="nav-link-custom"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="nav-link-custom"><i class="fab fa-instagram"></i></a>
                     <a href="#" class="nav-link-custom"><i class="fab fa-dribbble"></i></a>
               </ul>
           </div>
    </nav>
</header>
<!-- .Header -->
