*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#main-section{
    height: 100vh;
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    animation-name: changeBg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes changeBg
{
    0%   {background-image: url("images/1.jpg");}
    25%   {background-image: url("images/2.jpg");}
    50%   {background-image: url("images/3.jpg");}
    100%   {background-image: url("images/4.jpg");}
}

#nav-sect{
    background-color: #fff;
}
#nav-sect .container{
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    margin-right: auto;
    width: 100px;
    margin-bottom: 10px;
}

/* Nav */
.nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #362c63;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #050774;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #362c63;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #362c63;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

/*----features---*/

#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}




/*----footer----*/

#footer{
    padding: 50px 0 30px;
    margin-left: 50px;
    margin-right: 50px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #362c63;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #362c63;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}
.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.copyright-text,.footer-logo{
    flex-basis: 40%;
}







@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 90px;
        margin-bottom: 30px;
    }
    
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    
    .footer-left-col,.footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
    
}
















